<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>freeCodeCamp Timestamp Service</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <main class="container my-5 width-">
        <h1 class="display-4 mb-4 text-success">freeCodeCamp Timestamp Microservice</h1>
        <p class="lead">You can pass a string as a parameter, and it will check if the string is either a unix timestamp or a natural language date (example: July 31, 1990).</p>
        <ul>
            <li>If it is one of both, the app returns both the Unix timestamp and the natural language form of that date.</li>
            <li>If it isn't, it will return "null" for both properties.</li>
        </ul>
        <h2 class="mt-4 mb-3 text-success">Try it!</h2>
        <p>If you want to try it, just check one of these urls:</p>
        <ul>
            <li>https://bristle-feast.glitch.me/649382400</li>
            <li>https://bristle-feast.glitch.me/July 31, 1990</li>
        </ul>
    </main>
</body>
</html>